// Place all the styles related to the api/mappings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.map-container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.the-map-div{
  width: 100%;
  height: 88vh;
}

.map-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(209, 204, 204);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.css-map{
  width: 100%;
  height: 100%;
}
