// Place all the styles related to the api/mappings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.map-container{
  display: flex;
  justify-content: space-around;
  width: 1500px;
}

// .create-route-button{
//   display: flex;
//   justify-content: flex-end;
//   width: 1500px;
// }

.map-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
