// Place all the styles related to the api/routeslog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.routes-form{
    display: block;
}

button:hover {
    background-color: rgb(90, 90, 88);
}


.thead{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 20px;
    word-wrap: break-word;
    border: solid 1px black;
    padding: 10px;

    h2{
        font-size: 20px;
        font-weight: 600;
    }
}

.route-head{
    display: flex;
    justify-content: space-between;

    h1{
        font-size: 25px;
        font-weight: 800;
    }
}

.route-delete{
    margin-left: 10px;
}

.route-container{
    width: 80%;
    height: 100%;
    text-align:  center;
    margin: auto
}

.route-tools{
    display: flex;
    position: absolute;
    width: 150px;
    height: 95px;
    z-index: 9000;
    top: 200px;
    right: 20px;
    border: solid 5px black;

    .tool-container{
        display: flex;
        flex-direction: column;
        width: 100%;

        .tools-head{
            display: flex;
            justify-content: center;
            width: 100%;
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: rgba(black, .5);
            flex-wrap: wrap;
    
            .undo-button{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 15px;
                width: 40px;
                height: 40px;
            }
        
            .delete-button{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 15px;
                width: 40px;
                height: 40px;
            }
        
            .reverse-button{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 15px;
                width: 40px;
                height: 40px;
            }
        }
    }
}