
.nav-login-signup{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  width: 55%;
  padding: 0px 24px;
  font-size: 12.25px;
}

.nav-li{
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.splash-container{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  // margin-top: 15px;
}

.splash{
  display: block;
  position: relative;
  // padding-top: 500px;
  width: 1300px;
  height: 500px;
  background-image: image-url('splash2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-position: 50% 100%;

}

.splash2{
  display: flex;
  width: 1300px;
  height: 400px;
  background-image: image-url('splash3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.splashDiag{
  display: block;
  position: absolute;
  width: 1300px;
  height: 150px;
  background-image: image-url('white_strip.png');
  transform: skewY(-2.7 deg);
}
.nav-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.dash-board-container{
  display: flex;
  justify-content: center;
}

.dash-board-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  width: 55%;
  padding: 0px 24px;
  font-size: 12.25px;
}
