
.nav-login-signup{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 0px 24px;
}

.nav-li{
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.splash-container{
  display: flex;
  height: 1600px;
  width: 1300px;
  justify-content: center;
  margin: auto;
  position: relative;
  margin-top: 15px;
}

.splash{
  width: 1300px;
  height: 800px;
  background-image: image-url('splash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
