
.login-signup{
  display: flex;
  justify-content: space-between;
  margin: 25px;
  padding: 0px 24px;
}

.nav-li{
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.root{
  background: image-url('splash.jpg')
}